.label-container {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.right-column {
  width: 25%;
}

.label-container > div {
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.label-container * {
  color: black; /* Ensure all text remains black */
}

.logo {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make logo responsive */
  height: auto; /* Make logo responsive */
  margin-bottom: -.5rem;
}

.modelNumber {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make model number responsive */
  height: auto; /* Make model number responsive */
  margin: 0 0 .25rem 5rem;
  font-weight: bold; /* Bold the text */
  font-size: .75rem;
}

.blueBackground {
  background-color: var(--primary-color); /* Set background to brand color */
  justify-self: center;
  align-self: center;
  width: 100%; /* Make background responsive */
  height: auto; /* Make background responsive */
}

.blueBackground .blueBackgroundOutline {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  margin: 2% 2% 2% 0;
  height: 90%;
  color: white; /* Ensure text is white */
}

.blueBackground .blueBackgroundOutline * {
  color: white; /* Ensure text inside blueBackgroundOutline remains white */
}

.productDetails {
  margin-left: 1.5rem;
}

.title {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make title responsive */
  height: auto; /* Make title responsive */
  font-weight: bold; /* Bold the text */
}

.subtitle {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make subtitle responsive */
  height: auto; /* Make subtitle responsive */
}

.details {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make details responsive */
  height: auto; /* Make details responsive */
}

.leadFree {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make lead-free responsive */
  height: auto; /* Make lead-free responsive */
}

.leadFreeDisclaimer {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make lead-free disclaimer responsive */
  height: auto; /* Make lead-free disclaimer responsive */
}

.prop65Heading {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make prop65 heading responsive */
  height: auto; /* Make prop65 heading responsive */
  font-weight: bold; /* Bold the text */
}

.prop65Warning {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make prop65 warning responsive */
  height: auto; /* Make prop65 warning responsive */
}

.address {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make address responsive */
  height: auto; /* Make address responsive */
  font-weight: bold; /* Bold the text */
}

.certs {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make certs responsive */
  height: auto; /* Make certs responsive */
}

.quantity {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make quantity responsive */
  height: auto; /* Make quantity responsive */
  font-weight: bold; /* Bold the text */
}

.partPicture {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make product picture responsive */
  height: auto; /* Make product picture responsive */
}

.origin {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make origin responsive */
  height: auto; /* Make origin responsive */
}

.partNumber {
  justify-self: center;
  align-self: center;
  width: 100%; /* Make part number responsive */
  height: auto; /* Make part number responsive */
}